<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mappa dei Rifugi</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 500px;
        }
    </style>
</head>
<body>
    <h1>Mappa dei Rifugi e Sentieri</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Inizializza la mappa centrata su una posizione predefinita
        var map = L.map('map').setView([45.867, 9.341], 10);

        // Aggiungi una tile layer (mappa di sfondo)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Dati dei rifugi
        var rifugi = {{ rifugi|tojson }};

        // Aggiungi i marker per ogni rifugio
        rifugi.forEach(function(rifugio) {
            var marker = L.marker([rifugio.lat, rifugio.lng]).addTo(map);
            var popupContent = "<b>" + rifugio.nome + "</b><br>";
            
            rifugio.sentieri.forEach(function(sentiero) {
                popupContent += "<i>" + sentiero.nome + " (" + sentiero.difficolta + ")</i><br>";
                popupContent += "<small>" + sentiero.note + "</small><br>";
            });

            marker.bindPopup(popupContent);
        });
    </script>
</body>
</html>
